<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	<!-- 人员DAO -->
	<bean id="com.syscore.system.sysuser.dao.ISysuserDao" class="com.syscore.system.sysuser.dao.impl.SysuserDao">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>

	<!-- 人员SERVICE -->
	<bean id="com.syscore.system.sysuser.service.ISysuserService" class="com.syscore.system.sysuser.service.impl.SysuserService">
		<property name="dao" ref="com.syscore.system.sysuser.dao.ISysuserDao" />
		
		<property name="sysroleService" ref="com.syscore.system.sysrole.service.ISysroleService" />
		<property name="sysuserroleService" ref="com.syscore.system.sysuserrole.service.ISysuserroleService" /> 
	</bean>

	<!-- 人员ACTION -->
	<bean id="sysuserAction" class="com.syscore.system.sysuser.action.SysuserAction" scope="prototype">
		<property name="service" ref="com.syscore.system.sysuser.service.ISysuserService" />
	</bean>
</beans>
