<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">


	<!-- Transaction manager for a single JDBC DataSource -->

	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="txDefinition"
		class="org.springframework.transaction.support.DefaultTransactionDefinition">
		<property name="propagationBehaviorName" value="PROPAGATION_REQUIRED"></property>
	</bean>

	<tx:advice id="transactionManagerAdivice"
		transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="get*" read-only="true" />
			<tx:method name="*" isolation="READ_COMMITTED"
				propagation="REQUIRED" rollback-for="java.lang.RuntimeException" />
		</tx:attributes>
	</tx:advice>
	
	<!-- 管理事务操作 -->
	<aop:config>
		<aop:pointcut expression="execution(* com.bizmodules.*.service.*.*.*(..)) or execution(* com.syscore.commons.service.BasService.*(..))"
			id="taxServicePc" />
		<aop:advisor advice-ref="transactionManagerAdivice"
			pointcut-ref="taxServicePc" />
	</aop:config>
	

	<!-- 通知类 
	<bean id="methodAroundAdvice" class="com.chanjet.common.interceptor.MethodInterceptor" />
	<aop:config>
		<aop:advisor id="methodAroundAdviceAdvisor" advice-ref="methodAroundAdvice"
			pointcut="execution(* com.chanjet.*.service.*.*.*(..)) or execution(* com.chanjet.common.service.BasService.*(..))" />
	</aop:config>
	 --> 

</beans>