<?xml version="1.0" encoding="UTF-8"?>
<!-- 字典数据Spring主文件配置 -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">

	<!-- 生成器：数据表——数据列——生成功能模块 -->
	<!-- 生成器(数据表) -->
	<import resource="classpath*:/com/syscore/generate/table/config/spring/spring_projecttable.xml" />
	<!-- 生成器(数据列) -->
	<import resource="classpath*:/com/syscore/generate/table/config/spring/spring_projectcolumn.xml" />
	<!-- 生成器(研发人员设置) -->
	<import resource="classpath*:/com/syscore/generate/author/config/spring/spring_projectauthor.xml" />
	<!-- 生成器(生成功能模块) -->
	<import resource="classpath*:/com/syscore/generate/generatecode/genmodule/spring/spring_genmodule.xml" />
	
	<!-- 项目信息(生成功能模块) -->
	<import resource="classpath*:/com/syscore/generate/project/config/spring/spring_project.xml" />
	
	 
</beans>
