/************************************************************************************/
	/*全局样式*/
* {
	font-size: 12px;
	margin: 0px;
	padding: 0px;
}

body { /*不能设置宽度，不然FF则无法居中*/
	font-family: "宋体", Arial, Helvetica, sans-serif;
	text-align: center;	/*IE居中*/
}

.ffCenter {
	margin-left: auto; /*FF居中*/
	margin-right: auto; /*FF居中*/
	width: 960px; 
}

/************************************************************************************/
	/**红星**/
.redStar {
	margin: 0px;
	padding: 0 5 0 0px;
	color: red;
	text-align: right;
}

/************************************************************************************/
	/**水平**/
.horNav2 {
	float: left;
	width: 100%;
	height: 1px;
	overflow: hidden;
}

.horNav5 {
	float: left;
	width: 100%;
	height: 5px;
	overflow: hidden;
}

.horNav10 {
	float: left;
	width: 100%;
	height: 10px;
	overflow: hidden;
}

.horNav15 {
	float: left;
	width: 100%;
	height: 15px;
	overflow: hidden;
}

.horNav20 {
	float: left;
	width: 100%;
	height: 20px;
}

.horNav25 {
	float: left;
	width: 100%;
	height: 25px;
}

.horNav30 {
	width: 100%;
	height: 30px;
}

.horNav35 {
	width: 100%;
	height: 35px;
}

.horNav40 {
	width: 100%;
	height: 40px;
}

/************************************************************************************/
	/**垂直**/
.verNav5 {
	float: left;
	width: 5px;
	height: 100%;
	overflow: hidden;
}

.verNav10 {
	float: left;
	width: 10px;
	height: 100%;
	overflow: hidden;
}

.verNav15 {
	float: left;
	width: 15px;
	height: 100%;
	overflow: hidden;
}

.verNav20 {
	float: left;
	width: 20px;
	height: 100%;
}

.verNav25 {
	float: left;
	width: 25px;
	height: 100%;
}

.verNav30 {
	float: left;
	width: 30px;
	height: 100%;
}

.verNav35 {
	float: left;
	width: 35px;
	height: 100%;
}
	