<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	<!-- 对应—角色模块DAO -->
	<bean id="com.syscore.system.sysrolemodule.dao.ISysrolemoduleDao" class="com.syscore.system.sysrolemodule.dao.impl.SysrolemoduleDao">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>

	<!-- 对应—角色模块SERVICE -->
	<bean id="com.syscore.system.sysrolemodule.service.ISysrolemoduleService" class="com.syscore.system.sysrolemodule.service.impl.SysrolemoduleService">
		<property name="dao" ref="com.syscore.system.sysrolemodule.dao.ISysrolemoduleDao" /> 
	</bean>

</beans>
