<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	<!-- 项目DAO -->
	<bean id="com.syscore.generate.project.dao.IProjectDao" class="com.syscore.generate.project.dao.impl.ProjectDao">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>

	<!-- 项目SERVICE -->
	<bean id="com.syscore.generate.project.service.IProjectService" class="com.syscore.generate.project.service.impl.ProjectService">
		<property name="dao" ref="com.syscore.generate.project.dao.IProjectDao" /> 
	</bean>

	<!-- 项目ACTION -->
	<bean id="projectAction" class="com.syscore.generate.project.action.ProjectAction" scope="prototype">
		<property name="service" ref="com.syscore.generate.project.service.IProjectService" />
	</bean>
</beans>
