<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	<!-- 部门DAO -->
	<bean id="com.syscore.system.sysdepart.dao.ISysdepartDao" class="com.syscore.system.sysdepart.dao.impl.SysdepartDao">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>

	<!-- 部门SERVICE -->
	<bean id="com.syscore.system.sysdepart.service.ISysdepartService" class="com.syscore.system.sysdepart.service.impl.SysdepartService">
		<property name="dao" ref="com.syscore.system.sysdepart.dao.ISysdepartDao" /> 
	</bean>

	<!-- 部门ACTION -->
	<bean id="sysdepartAction" class="com.syscore.system.sysdepart.action.SysdepartAction" scope="prototype">
		<property name="service" ref="com.syscore.system.sysdepart.service.ISysdepartService" />
	</bean>
</beans>
